*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #24252a;
}

li, a, button{
    font-family: 'Bitter';
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    transition: 0.5s;
}

.logo{
    height: 20%;
    position: absolute;
    top: 0px;
    left: 10px;
    cursor: pointer;
    margin-left: auto;
}

.nav{
    list-style: none;
}

.nav li{
    display: inline-block;
    padding: 0px 20px;
}

.nav li a{
    transition: 0.5s;
}

.nav li a:hover{
    color: #0088a9;
}

button{
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s;
}

button:hover{
    background-color: rgba(0, 136, 169, 0.8);
}

.jadwallatihan{
    font-size: 15px;
    font-family: 'Bitter';
}

.jadwallatihan h1{
    width: 100%;
    height: 40px;
    background-color: #fff;
    position: absolute;
    top: 25%;
    text-align: center;
}

.jadwalpertandingan{
    font-size: 20px;
    font-family: 'Bitter';
}

.jadwalpertandingan h2{
    width: 100%;
    height: 40px;
    background-color: #fff;
    position: absolute;
    top: 85%;
    text-align: center; 
}

.fotolatihan{
    position: relative;
    width: 15%;
    top: 210px;
    left: 550px;
}

.fototanding{
    position: relative;
    width: 15%;
    top: 600px;
    left: 350px;
}
footer p{
    height: 20px;
    background-color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
}

